
<div class="maincontainer">
    <h2>Static Data</h2>
        <a class="mainpage" routerLink="customer" routerLinkActive="active">customer</a>
        <a class="mainpage" routerLink="currency" routerLinkActive="active">currency</a>
        <a class="mainpage" routerLink="calendars" routerLinkActive="active">Calendars</a>
        <a class="mainpage" routerLink="bankrelated" routerLinkActive="active">Bank related</a>

        <a class="mainpage" routerLink="mainpage" routerLinkActive="active">Mainpage</a>
        <a class="mainpage" routerLink="bankrelated" routerLinkActive="active">Exit/Logout</a>

        <!-- <button class="exit" (click)="onLogout()" >Mainpage</button>
        <button class="exit" (click)="onLogout()" >Exit/Logout</button> -->
</div>
<router-outlet></router-outlet>
